/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 100%;
    padding: 0 1.5rem;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.align-center{
    display: flex;
    align-items: center;
}

.center{
    text-align: center;
}

/* Header */
header{
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 1rem 0;
}

.fifty{
    width: 50%;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

header i{
    font-size: 25px;
}

/* Main */
.quadrato{
    width: 100%;
    height: 350px;
    background-color: lightblue;
    border-radius: 10%;
    margin: 3rem 0;
}

.p-and-image{
    background-color: lightblue;
    width: 100%;
    border-radius: 8%;
    margin-top: 2rem;
    position: relative;
}
.p-and-image img{
    width: 100%;
    padding-bottom: 0;
}

.p-and-image h2,
.quadrato h2{
    padding-top: 2rem;
    color: dodgerblue;
    font-size: 30px;
}

.p-and-image p,
.quadrato p{
    padding: 1.5rem 2.5rem;
}

.p-and-image button{
    margin: 1.5rem 0;
    width: 15rem;
    height: 3rem;
    font-size: 20px;
    color: white;
    background-color: dodgerblue;
    border-radius: 10px 10px 10px 10px;
    border: 0;
}

/* Planning */
.planning{
    width: 100%;
    border-radius: 10%;
    margin-top: 3rem;
}

.purple{
    width: 100%;
    background-color: mediumpurple;
    margin-top: 2rem;
}

.white{
    background-color: white;
}

.purple img{
    width: 100%;
}

.purple h2, p{
    padding: 2rem 0;
}

.white-title,
.white-p{
    color: white;
}

.white-title,
.white h2{
    font-size: 40px;
}

.white-p,
.white p{
    font-size: 18px;
}

.white p{
    margin: 0 .5rem;
}

/* Testimonials */
.introduction{
    width: 100%;
    border-radius: 10%;
    margin-top: 2rem;
}

.testimonials{
    width: 100%;
    background-color: mediumpurple;
    border: 1px solid black;
    border-radius: 10%;
    margin-top: 2rem;
}

.image-id{
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    margin-top: 2rem;
}

.image-id img{
    width: auto;
    height: 100%;
    margin-left: -60px;
}

.introduction *{
    padding: 1rem 0;
}

.introduction h2{
    font-size: 25px;
}

.introduction h1{
    font-size: 40px;
    color: mediumpurple;
}

.introduction p{
    font-size: 20px;
}

.testimonials
/* Benefits */
.title{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10%;
    margin: 2rem 0;
}

.step{
    width: 100%;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10%;
    margin: 2rem 0;
}

/* About Us */
.paragrafo{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 10%;
    margin-bottom: 1rem;
}

.find-me{
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-radius: 10%;
}

/* Footer*/
.get-started{
    width: 100%;
    height: 300px;
    background-color: mediumslateblue;
    border: 1px solid black;
    border-radius: 10%;
}

.black{
    background-color: darkslategrey;
}

.end-title{
    width: 100%;
    height: 150px;
    border: 1px solid white;
    border-radius: 10%;
}