/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 100%;
    padding: 0 1.5rem;
}

.flex-j-center{
    display: flex;
    justify-content: center;
}

.align-center{
    display: flex;
    align-items: center;
}

.center{
    text-align: center;
}

/* Header */
header{
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 1rem 0;
}

.fifty{
    width: 50%;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

header i{
    font-size: 25px;
}

/* Main */
.quadrato{
    width: 100%;
    background-color: lightblue;
    border-radius: 10%;
    margin: 3rem 0;
}

.p-and-image{
    background-color: lightblue;
    width: 100%;
    border-radius: 10%;
    margin-top: 2rem;
    position: relative;
}
.p-and-image img{
    width: 100%;
    padding-bottom: 0;
}

.p-and-image h2,
.quadrato h2{
    padding-top: 2rem;
    color: dodgerblue;
    font-size: 30px;
}

.p-and-image p,
.quadrato p{
    padding: 1.5rem 2.5rem;
    line-height: 2;
}

.p-and-image button{
    margin: 1.5rem 0;
    width: 15rem;
    height: 3rem;
    font-size: 20px;
    color: white;
    background-color: dodgerblue;
    border-radius: 10px 10px 10px 10px;
    border: 0;
}

.quadrato h1{
    font-size: 80px;
    padding-top: 1rem;
}

.p-and-image i{
    padding-right: .5rem;
}

/* Planning */
.planning{
    width: 100%;
    border-radius: 10%;
    margin-top: 3rem;
}

.purple{
    width: 100%;
    background-color: mediumpurple;
    margin-top: 2rem;
}


.white{
    background-color: white;
}

.purple img{
    width: 100%;
}

.purple h2, p{
    padding: 2rem 0;
}

.white-title,
.white-p{
    color: white;
}

.white-title,
.white h2{
    font-size: 40px;
}

.white-p,
.white p{
    font-size: 18px;
    line-height: 2;
}

.white p{
    margin: 0 .5rem;
}

.planning i{
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: mediumpurple;
    border-radius: 50%;
    line-height: 3;
}

/* Testimonials */
.introduction{
    width: 100%;
    border-radius: 10%;
    margin-top: 2rem;
}

.testimonials{
    width: 100%;
    background-color: mediumpurple;
    border-radius: 10%;
    margin-top: 2rem;
}

.image-id{
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    margin-top: 2rem;
}

.image-id img{
    width: auto;
    height: 100%;
    margin-left: -60px;
}

.introduction *{
    padding: 1rem 0;
}

.introduction h2{
    font-size: 25px;
}

.introduction h1{
    font-size: 40px;
    color: mediumpurple;
}

.introduction p{
    font-size: 20px;
}

.testimonials h3,
.testimonials p{
    color: white;
    margin: 0 3rem;
}

.testimonials p{
    font-size: 20px;
    line-height: 2;
}

.testimonials h3{
    font-size: 30px;
    padding-bottom: 2rem;
}

.testimonials i{
    padding: 0 .5rem;
}
/* Benefits */
.title{
    width: 100%;
    padding: 2rem 0;
    color: white;
    font-size: 30px;
}

.step{
    width: 100%;
    background-color: white;
    border-radius: 10%;
    padding: 1rem 2.5rem;
    margin: 1.5rem 0;
}

.step h1{
    color: mediumpurple;
    font-size: 55px;
}

.step h2{
    color: mediumpurple;
    font-size: 30px;
}

.step p{
    font-size: 20px;
    line-height: 2;
}

.step button{
    width: 10rem;
    height: 2.5rem;
    color: white;
    background-color: mediumpurple;
    font-size: 20px;
    border: 0;
    border-radius: 20px 20px 20px 20px;
}

/* About Us */
.paragrafo{
    width: 100%;
    margin-bottom: 1rem;
}

.find-me{
    width: 100%;
}

.image-find-me{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.image-find-me img{
    width: auto;
    height: 100%;
}

.paragrafo h1{
    color: mediumpurple;
    font-size: 50px;
}

.paragrafo p{
    font-size: 20px;
    line-height: 2;
}

.find-me h2{
    color: mediumpurple;
    font-size: 40px;
    padding: 2rem 0;
}

.find-me button{
    width: 18rem;
    height: 2rem;
    background-color: mediumpurple;
    color: white;
    border: 0;
    border-radius: 20px 20px 20px 20px;
    font-size: 18px;
}

/* Footer*/
.get-started{
    width: 100%;
    border-radius: 10%;
}

.get-started *{
    color: white;
}

.get-started h3{
    font-size: 25px;
    padding-top: 2rem;
    color: lightgray;
}

.get-started h2{
    font-size: 35px;
}

.get-started h1{
    font-size: 70px;
    color: gold;
}

.get-started p{
    font-size: 20px;
    line-height: 2;
}

.get-started button{
    width: 22rem;
    height: 5rem;
    background-color: white;
    color: mediumpurple;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    font-size: 30px;
}

.black{
    background-color: darkslategrey;
}

.end-title{
    width: 100%;
    border-radius: 10%;
    color: white;
    font-size: 20px;
}

footer a{
    color: mediumpurple;
}

footer i{
    font-size: 10px;
    padding: 0 .5rem;
    vertical-align: middle;
}

@media screen and(min-width:576px){
    
}